<template>
  <div class="white-box">
    
  
  <form-wizard @on-complete="onComplete"
                  @on-loading="setLoading"
                  @on-validate="handleValidation"
                  @on-error="handleErrorMessage"
                  shape="circle"
                  color="gray"
                  title="KUISIONER KEPUASAN PELAYANAN AKADEMIK BAA-UMS"
                  :subtitle="subtitle"
                  back-button-text="Kembali"
                  next-button-text="Lanjutkan"
                  finish-button-text="Selesai"
                  error-color="#e74c3c">
    <tab-content title="Petunjuk"
                 icon="ti-help-alt">
                 <p class="konten1" align="center">Kuisioner diberikan skor penilaian terhadap pelayanan akademik yang dilakukan oleh <br>
Biro Administrasi Akademik UMS (pilih antara skor 1-5) dengan indikator :<br>
(1):Tidak baik; (2): Agak Baik; (3): Cukup Baik;<br>
(4): Baik; (5): Sangat Baik</p>
            
    </tab-content>
    <tab-content  title="Pilih Jawaban"
                  :before-change="validateAsync" 
                  icon="ti-list"> <!-- :before-change="validateAsync" -->
            <div class="row konten1">
              <p align="center">
                Mohon pilih skor sesuai dengan pengalaman yang anda rasakan ketika berinteraksi <br>
Dengan BAA, dalam beberapa pernyataan berikut ini:
              </p>
            </div>
            <br>
              <div class="radio-list konten2">

                <template v-for="(soal,index) in questions">
                  <div class="row">
                    <div class="radio col col-md-6 col-sm-6">
                       {{soal.soal}}
                    </div>
                    <div class="radio radio-info col col-xs-1 col-md-1 col-sm-1">
                      <input type="radio" id="satu" value='1' v-model="jawaban[index]">
                      <label for="Satu"><i class="em em-angry"></i></label>
                    </div>
                    <div class="radio radio-info col col-xs-1 col-md-1 col-sm-1">
                      <input type="radio" id="dua" value='2' v-model="jawaban[index]">
                      <label for="Dua"><i class="em em-slightly_frowning_face"></i></label>
                    </div>
                    <div class="radio radio-info col col-xs-1 col-md-1 col-sm-1">
                      <input type="radio" id="tiga" value='3' v-model="jawaban[index]">
                      <label for="Tiga"><i class="em em-slightly_smiling_face"></i></label>
                    </div>
                    <div class="radio radio-info col col-xs-1 col-md-1 col-sm-1">
                      <input type="radio" id="empat" value="4" v-model="jawaban[index]">
                      <label for="Empat"><i class="em em-smiley"></i></label>
                    </div>
                    <div class="radio radio-info col col-xs-1 col-md-1 col-sm-1">
                      <input type="radio" id="lima" value="5" v-model="jawaban[index]">
                      <label for="one"><i class="em em-smile"></i></label>
                    </div>
                  </div>
                </template>

            </div>
            
    </tab-content>
    <tab-content title="Esay"
                 icon="ti-pencil-alt">
            <span>Keluhan yang ingin saya sampaikan terhadap pelayanan akademik di BAA UMS adalah:</span>
            <br>
            <textarea class="form-control" v-model="Esay1" placeholder="add multiple lines"></textarea><br>
            <span>Saran perbaikan untuk pelayanan akademik di BAA UMS Adalah:</span>
            <br>
            <textarea class="form-control" v-model="Esay2" placeholder="add multiple lines"></textarea>
    </tab-content>

    <div class="loader" v-if="loadingWizard"></div>
    <div v-if="errorMsg">
      <span class="error">{{errorMsg}}</span>
    </div>
  </form-wizard>
</div>
</template>
<style scoped>
.coba{
  background: red;
}
.konten1{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px
}
.konten2{
  padding-left: 20px;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 18px
}
span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
}
</style>
<script>
  export default {
    // props: {
    //   title: {
    //     type: String,
    //     default: 'asdasdsddas'
    //   }
    // },
     data(){
        return {
          subtitle:'Semester Ganjil 2016/2017 (Desember2016)',
          loadingWizard: false,
          errorMsg: null,
          count: 0,
          nim:'',
          questions:[],
          jawaban:[],
          Esay1:'',
          Esay2:'',



        }
      },
      created() {
            this.isRequestLoading = true
            axios.get(AjaxUrl.KuesionerInitialData)
                .then(response => {
                    if (response.data.success == true) {
                        // console.log(response.data)
                        this.nim = response.data.result.nim
                        this.questions = response.data.result.pertanyaan
                        this.jawaban = response.data.result.jawaban
                        this.Esay1 = response.data.result.Esay1
                        this.Esay2 = response.data.result.Esay2
                        // console.log(this.data_mhs_utama);

                        this.isRequestLoading = false
                    }
                });
        },
      methods: {
       onComplete: function(){

           alert('Nama: rasyid \n'+'nim :\n'+this.nim+'\njawaban : '+this.jawaban);
           alert('Keluhan :'+this.Esay1+'\nSaran:'+this.Esay2);
           let asd = [];
           for (var i = 0; i < 7; i++) {
                asd.push({ "soal" : this.questions[i].id_soal, "jawab" : this.jawaban[i]});
            }

           let formData={
              nim : this.nim,
              data : asd,
              esay1 : this.Esay1,
              esay2 : this.Esay2
           }
           axios.post(AjaxUrl.KuesionerPostData, qs.stringify(formData))
                .then(response=> {
                  // window.location = response.data.result.redirect
                  alert(response.data.result.keterangan);
                })
            // window.location = "http://localhost:8000/";
        },
        setLoading: function(value) {
            this.loadingWizard = value
        },
        handleValidation: function(isValid, tabIndex){
           console.log('Tab: '+tabIndex+ ' valid: '+isValid)
        },
        handleErrorMessage: function(errorMsg){
          this.errorMsg = errorMsg
        },
        validateAsync:function() {
          return new Promise((resolve, reject) => {
            setTimeout(() => {
              if (this.jawaban.length<7) {
                this.count ++
              }
              for (var i = 0; i < this.jawaban.length; i++) {
                if (typeof this.jawaban[i] == 'undefined') {
                this.count ++
                }
              }

              if(this.count > 0){
                  reject('Mohon isikan Jawaban secara lengkap')
                  this.count = 0
              }else{
               
               resolve(true)
              }   
            }, 1000)
          })
         },
       }
  }
</script>